* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.header {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 5%;
}

.header__logo {
    width: 25%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    min-width: 100px;
    min-height: 100px;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0%;
    margin-bottom: 10%;
}

.recipe-list__item {
    display: flex;
    align-items: center;
    width: 70%;
    border: 3px solid rgb(0, 74, 173);
    border-radius: 10px;
    background-color: rgba(226, 220, 220, 0.25);
    transition: 0.5s;
}

.recipe-list__item:hover {
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px rgb(95, 95, 95);
}

.recipe-list__picture {
    flex: 2 2 25%;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px 0 0 6px;
}

.recipe-list__link {
    flex: 3 3 65%;
    padding-left: 5%;
    font-family: Verdana, Tahoma, "DejaVu Sans", "Lucida Sans", sans-serif;
    font-weight: bolder;
    font-size: 1.65vw;
    color: black;
    text-decoration: none;
}

.recipe-list__link:visited {
    color: black;
    text-decoration: none;
}

.recipe-list__link:hover {
    text-decoration: underline solid black auto;
}

.recipe-list__meal-type {
    flex: 1 1 10%;
    text-align: center;
    padding: 1%;
    border-width: 3px;
    border-style: solid;
    font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
    font-size: 1.25vw;
    color: white;
    margin-right: 5%;
}

.recipe-list__meal-type--breakfast {
    border-color: rgb(160, 45, 0);
    background-color: rgb(160, 74, 40);
}

.recipe-list__meal-type--lunch {
    border-color: rgb(0, 90, 0);
    background-color: rgb(0, 130, 0);
}

.recipe-list__meal-type--dinner {
    border-color:rgb(50, 43, 97);
    background-color: rgb(50, 43, 137);
}